* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
html {
  font-size: 100%;
  font-family: sans-serif;
}

img {
  width: 100%;
}

ul {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* MAIN */
main {
  width: 100%;
  height: 100vh;
  background-color: black;
  border: 1px solid;
  position: relative;
}

/* .window {
  background-color: purple;
  width: 95%;
} */

.view-mode {
  color: white;
  text-align: right;
  padding: 1em;
  vertical-align: middle;
  margin: 1em;
}

.view-mode i {
  font-size: 1rem;
}

#speaker-view {
  background-color: #4a4a4a;
  vertical-align: middle;
  padding: 1em;
  margin-right: 1em;
  border-radius: 5px;
}

#expand {
  background-color: #4a4a4a;
  padding: 1em;
  vertical-align: middle;
  border-radius: 5px;
}
.wrapper {
  background-color: red;
  width: 95%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.card {
  width: calc(100% / 7 - (0.5em / 7));
  position: relative;
  padding: 0 0.5em 0.5em 0;
}

.user {
  position: absolute;
  bottom: 10%;
  left: 5%;
  background-color: #222222;
  color: white;
}
/* TOOLBAR */
.toolbar {
  background-color: #222222;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  font-size: 1rem;
  padding: 1em 1em 1em 0.5em;
}
.icon > i {
  font-size: 2rem;
}

.play {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
}

.play span {
  font-size: 0.9rem;
  padding: 0.9em 0.5em 0 0;
}

.green > i {
  color: lime;
}

.tool {
  color: white;
  width: 35%;
  display: flex;
  justify-content: space-evenly;
}

.tool span {
  font-size: 0.9rem;
  padding: 0.9em 0.5em 0 0;
}

.end {
  color: red;
  background-color: grey;
  padding: 2em;
  border-radius: 5px;
}
