* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
html {
  font-size: 100%;
  font-family: sans-serif;
}

img {
  width: 100%;
}

ul {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* MAIN */
main {
  width: 100%;
  height: 100vh;
  background-color: black;
  border: 1px solid;
}

.window {
  background-color: black;
  height: 100vh;
  width: 100%;
}

.wrapper {
  width: 70%;
  margin: 5em auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 7);
  position: relative;
  padding: 0 0.5em 0.5em 0;
}

.user {
  position: absolute;
  bottom: 10%;
  left: 5%;
  background-color: #222222;
  color: white;
}
/* TOOLBAR */
.toolbar {
  background-color: #222222;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  font-size: 1rem;
  padding: 1em 1em 0 0;
}
.icon > i {
  font-size: 2rem;
}

.play {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
}

.play span {
  font-size: 0.9rem;
  padding: 0.9em 0.5em 0 0;
}

.green > i {
  color: lime;
}

.tool {
  color: white;
  width: 35%;
  display: flex;
  justify-content: space-evenly;
}

.tool span {
  font-size: 0.9rem;
  padding: 0.9em 0.5em 0 0;
}

.end {
  color: red;
  background-color: grey;
  padding: 2em;
}
